[Desktop Entry]
Name=Kontinuance-Static
Comment=recommended window border size: <= tiny; recommended button size: normal

X-KDE-PluginInfo-Author=ZeusOfTheCrows
X-KDE-PluginInfo-Website=https://zeusofthecrows.github.io/
X-KDE-PluginInfo-Name=Kontinuance
X-KDE-PluginInfo-Comment=Continuation of the Ubuntu Ambiance theme
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPLv3
